<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.stepanzalis.kotweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".utils.RealmConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KotWeather"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAfcdQ1FRWxTI1mNjnrGVukIFGeI9qJvwc"/>

        <activity
            android:name="com.stepanzalis.kotweather.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.stepanzalis.kotweather.ui.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>